# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Firebase
backend/serviceAccountKey.json
backend/serviceAccountKey.env.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
